# Python
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.*venv*
_build/
.tox

#

# VSCode
.vscode/

# MacOS
.DS_Store

# test data
tests/data/snp_embedder_checkpoint.pt/*
test.pt
tests/data/pred_probas.csv

# training logs
logs/
embedder/*
*.ckpt
logs-pretrain/*
wandb/*
tests/model_checkpoints/tmp_logs/*
tests/data/pred_probas.csv
